Data/zhwiki-20180428-pages-articles.xml.bz2
Data/*
Data1/zh_yuewiki-20180428-pages-articles.xml.bz2
Data1/zh_yuewiki-20180428-pages-articles.xml.bz2
Model/*.model
Model/*.npy
Model/*.bin
Data1/wiki_texts.txt
Model/med250.model.bin
